/*
 * YouTube Captions Auditor (YTCA)
 * CSS for HTML Output
 *
 */

/*
 *
 * Overall structure
 *
 */

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  margin: 1em;
}

/*
 *
 * Report table
 *
 */
table#report {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 1em;
}
th[scope="col"] {
  vertical-align: bottom;
}
td.data {
  text-align: right;
}
td a {
  color: #474747;
  text-decoration: underline;
}
tr.totals td {
  font-weight: bold;
}

/*
 *
 * Misc styles
 *
 */

p.date {
  font-weight: bold;
  font-size: 1.1em;
}
p.error {
  font-weight: bold;
}
p.footnote {
  margin-left: 2em;
}
div#status {
  display: none;
	border: 2px solid orange;
	margin: 1em;
	max-width: 40em;
	background-color: #FFC;
	padding: 1em;
	font-weight: bold;
	font-size: 1.1em;
}
