/*
 * YouTube Captions Auditor (YTCA)
 * CSS for HTML Output
 *
 */

/*
 *
 * Overall structure
 *
 */

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  margin: 1em;
}

/*
 *
 * Report table
 *
 */
table {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 1em;
}
th[scope="col"] {
  vertical-align: bottom;
}
td.data {
  text-align: right;
}
td a {
  color: #474747;
  text-decoration: underline;
}
tr.totals td {
  font-weight: bold;
}

/*
 *
 * Form fields (used when processing one channel at a time)
 *
 */

input[type="submit"] {
  margin: 1em;
  font-size: 1em;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 0.15em;
  background-color:#9F9
}
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  background-color: black;
  border-color: #9F9;
  color: white;
}
textarea {
  display: none;
}

/*
 *
 * Misc styles
 *
 */

p.date {
  font-weight: bold;
  font-size: 1.1em;
}
p.error {
  font-weight: bold;
}
p.footnote {
  margin-left: 2em;
}

