/*
 * YouTube Captions Auditor (YTCA)
 * CSS for HTML Output
 *
 */

/*
 *
 * Overall structure
 *
 */

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  margin: 1em;
}

/*
 *
 * Data tables
 *
 */
table {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 1em;
}
th[scope="col"] {
  vertical-align: bottom;
}
td.data {
  text-align: right;
}
td a {
  color: #474747;
  text-decoration: underline;
}
tr.totals td {
  font-weight: bold;
}
table.videoDetails {
  margin-left: 1em;
}
table.videoDetails td.ccYes {
  color: #093;
}
table.videoDetails td.ccNo {
  color: #C00;
}

/*
 *
 * Report lists
 *
 */
ul.channelDetails li {
  margin-bottom: 0.15em;
}
ul.channelDetails li span.value {
  font-weight: bold;
}

/*
 *
 * Debug styles
 *
 */
div.ytca_debug {
  display: block;
  margin: 0.75em 1em;
  border: 1px solid black;
  padding: 1em;
  max-width: 40em;
  background-color: #EEE;
}
div.ytca_channel_query {
  background-color: #FFC;
}
div.ytca_debug span {
  display: block;
}
div.ytca_debug span.query_label {
  font-weight: bold;
}
div.ytca_debug span a {
  text-decoration: none;
  color: #333;
}
div.ytca_debug span a:hover,
div.ytca_debug span a:focus {
  text-decoration: underline;
}

/*
 *
 * Misc styles
 *
 */

p.date {
  font-weight: bold;
  font-size: 1.1em;
}
p.error {
  font-weight: bold;
}
p.filterSettings {
  margin: 1em;
  font-weight: bold;
}
p.filterSettings span.filterValue {
  color: #c00;
}
p.footnote {
  margin-left: 1em;
  color: #333;
}
p.runTime {
  margin: 1em;
  font-weight: bold;
}
div#status {
  display: none;
	border: 2px solid orange;
	margin: 1em;
	max-width: 40em;
	background-color: #FFC;
	padding: 1em;
	font-weight: bold;
	font-size: 1.1em;
}
