/*
 * YouTube Captions Auditor (YTCA)
 * CSS for HTML Output
 *
 */

/*
 *
 * Overall structure
 *
 */

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  margin: 1em;
}

/*
 *
 * Data tables
 *
 */

table {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 1em;
}
th[scope="col"] {
  padding: 1em;
  vertical-align: bottom;
}
table.sortable th[scope="col"]:hover {
  text-decoration: underline;
  cursor: pointer;
}
td.data {
  text-align: right;
}
td a {
  color: #474747;
  text-decoration: underline;
}
tr.totals td {
  font-weight: bold;
}
table.summary tr.goodChannel th,
table.summary tr.goodChannel td {
  background-color: #99FF99; /* light green */
}
table.summary tr.badChannel th,
table.summary tr.badChannel td {
  background-color: #FFD7D7; /* light red */
}
table.details {
  margin-left: 1em;
}
table.details td.ccYes {
  color: #093;
}
table.details td.ccNo {
  color: #C00;
}
th[aria-sort] span {
 	background-position: center right;
	background-repeat: no-repeat;
  padding: 0 25px; /* wide enough for sort arrow icon */
}
th[aria-sort="ascending"] span {
  background-image: url('../images/sort_asc.png');
}
th[aria-sort="descending"] span {
  background-image: url('../images/sort_desc.png');
}

/*
 *
 * Report lists
 *
 */

ul.channelDetails li {
  margin-bottom: 0.15em;
}
ul.channelDetails li span.value {
  font-weight: bold;
}

/*
 *
 * Debug styles
 *
 */

div.ytca_debug {
  display: block;
  margin: 0.75em 1em;
  border: 1px solid black;
  padding: 1em;
  max-width: 40em;
  background-color: #EEE;
}
div.ytca_channel_query {
  background-color: #FFC;
}
div.ytca_debug span {
  display: block;
}
div.ytca_debug span.query_label {
  font-weight: bold;
}
div.ytca_debug span a {
  text-decoration: none;
  color: #333;
}
div.ytca_debug span a:hover,
div.ytca_debug span a:focus {
  text-decoration: underline;
}

/*
 *
 * Focus indicator
 *
 */

*:focus {
  border: 3px solid #78aed9 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6) !important;
  outline: 0 none !important;
  text-decoration: none;
}
button::-moz-focus-inner {
  border: 0;
}

/*
 *
 * Front-end Form
 *
 */
p#ytca_intro {
  margin: 1em;
  max-width: 40em;
}
form#ytca_input {
  margin: 1em;
  width: 100%;
}
form#ytca_input fieldset {
  border: 2px solid #340449;
  background-color: #EEE;
  padding: 1em;
  width: 20em;
  height: 10em;
  max-width: 90%;
  margin: 0.5em;
  float: left;
}
form#ytca_input fieldset#options {
  width: 42em;
  min-width: 50%;
  max-width: 100%;
}
form#ytca_input fieldset legend {
  font-size: 1.2em;
  font-weight: bold;
}
form#ytca_input div {
  margin: 1em;
}
form#ytca_input label {
  display: block;
}
form#ytca_input fieldset#options label {
  display: inline;
}
form#ytca_input input,
form#ytca_input select {
  font-size: 1em;
}
div.submit {
  clear: left;
  width: 100%;
}
div.submit input {
  margin: 1.5em 1em 2em;
  font-size: 1.1em;
  border: 2px solid #340449;
  border-radius: 3px;
  padding: 0.25em;
}
div.submit input:hover,
div.submit input:focus {
  background-color: #060;
  color: #FFF;
}

/*
 *
 * Misc styles
 *
 */

p.date {
  font-weight: bold;
  font-size: 1.1em;
}
p.error {
  font-weight: bold;
}
p.filterSettings {
  margin: 1em;
  font-weight: bold;
}
p.filterSettings span.filterValue {
  color: #c00;
}
p.footnote {
  margin-left: 1em;
  color: #333;
}
p.runTime {
  margin: 1em;
  font-weight: bold;
}
div#status {
  display: none;
	border: 2px solid orange;
	margin: 1em;
	max-width: 40em;
	background-color: #FFC;
	padding: 1em;
	font-weight: bold;
	font-size: 1.1em;
}
