/*
 * YouTube Captions Auditor (YTCA)
 * CSS for HTML Output
 *
 */

/*
 *
 * Overall structure
 *
 */

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  margin: 1em;
}

/*
 *
 * Data tables
 *
 */

table {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 1em;
}
th[scope="col"] {
  padding: 1em 0;
  vertical-align: bottom;
}
th[scope="col"]:hover {
  text-decoration: underline;
  cursor: pointer;
}
td.data {
  text-align: right;
}
td a {
  color: #474747;
  text-decoration: underline;
}
tr.totals td {
  font-weight: bold;
}
table.details {
  margin-left: 1em;
}
table.details td.ccYes {
  color: #093;
}
table.details td.ccNo {
  color: #C00;
}
th[aria-sort="ascending"] span {
  background-image: url('../images/sort_asc.png');
}
th[aria-sort="descending"] span {
  background-image: url('../images/sort_desc.png');
}
th[aria-sort] span {
 	background-position: center right;
	background-repeat: no-repeat;
}
th span {
  padding: 0 25px; /* wide enough for sort arrow icon */
}

/*
 *
 * Report lists
 *
 */

ul.channelDetails li {
  margin-bottom: 0.15em;
}
ul.channelDetails li span.value {
  font-weight: bold;
}

/*
 *
 * Debug styles
 *
 */

div.ytca_debug {
  display: block;
  margin: 0.75em 1em;
  border: 1px solid black;
  padding: 1em;
  max-width: 40em;
  background-color: #EEE;
}
div.ytca_channel_query {
  background-color: #FFC;
}
div.ytca_debug span {
  display: block;
}
div.ytca_debug span.query_label {
  font-weight: bold;
}
div.ytca_debug span a {
  text-decoration: none;
  color: #333;
}
div.ytca_debug span a:hover,
div.ytca_debug span a:focus {
  text-decoration: underline;
}

/*
 *
 * Focus indicator
 *
 */

*:focus {
  border: 3px solid #78aed9 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6) !important;
  outline: 0 none !important;
  text-decoration: none;
}
button::-moz-focus-inner {
  border: 0;
}

/*
 *
 * Misc styles
 *
 */

p.date {
  font-weight: bold;
  font-size: 1.1em;
}
p.error {
  font-weight: bold;
}
p.filterSettings {
  margin: 1em;
  font-weight: bold;
}
p.filterSettings span.filterValue {
  color: #c00;
}
p.footnote {
  margin-left: 1em;
  color: #333;
}
p.runTime {
  margin: 1em;
  font-weight: bold;
}
div#status {
  display: none;
	border: 2px solid orange;
	margin: 1em;
	max-width: 40em;
	background-color: #FFC;
	padding: 1em;
	font-weight: bold;
	font-size: 1.1em;
}
